<div *ngIf="stpe6">
    <div class="text-center">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4496/4496184.png"
            alt="Imagen del botón"
          />
        </button>
      </div>
      <hr />
      <div>
        <h2>Registrar Animal</h2>
      </div>
      <br />
    </div>
    <div>
      <br />
      <div class="field">
        <label for="firstname1">Raza</label>
        <input
          id="firstname1"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="lastname1">Numero Corral</label>
        <input
          id="lastname1"
          maxlength="10"
          type="number"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="lastname1">Fecha de Nacimiento</label>
        <input
          id="lastname1"
          maxlength="10"
          type="number"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="lastname1">Numero de Partos</label>
        <input
          id="lastname1"
          maxlength="10"
          type="number"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
  
      <div class="flex justify-content-center flex-wrap">
        <div
          class="flex align-items-center justify-content-center font-bold border-round m-2"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Cancelar"
            class="p-button-outlined"
            routerLink="/botones"
          ></button>
        </div>
        <div
          class="flex align-items-center justify-content-center font-bold border-round m-2"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Crear"
            class="p-button-outlined p-button-success"
          ></button>
        </div>
      </div>
    </div>
  </div>
  