<div>
  <div class="text-center">
    <img
      src="https://cdn-icons-png.flaticon.com/512/1076/1076877.png"
      alt="Image"
      height="50"
    />
    <div>
      <h2>Huella Hidríca</h2>
    </div>
    <br />
  </div>
  <div>
    <div>
      <div class="text-center">
        <div class="text-center p-3 border-round-sm font-bold"></div>
        <hr />
      </div>
      <div>
        <br />
        <div class="field">
          <label for="firstname1">Finca</label>
          <input
            [disabled]="true"
            id="firstname1"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
        </div>
        <div class="field">
          <label for="lastname1">Potrero</label>
          <input
            id="lastname1"
            maxlength="10"
            type="number"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
        </div>
        <div class="field">
          <label for="lastname1">Fecha: </label>
          {{ fechaHoy | date : "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-content-center flex-wrap">
    <div
      class="flex align-items-center justify-content-center font-bold border-round m-2"
    >
      <button
        pButton
        pRipple
        type="button"
        label="Volver"
        class="p-button-outlined"
        routerLink="/botones"
      ></button>
    </div>
    <div
      class="flex align-items-center justify-content-center font-bold border-round m-2"
    >
      <button
        pButton
        pRipple
        type="button"
        label="Consultar"
        class="p-button-outlined p-button-success"
      ></button>
    </div>
  </div>
  <br>

<p-fieldset [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-user mr-2"></span>
      <span class="font-bold text-lg">Actividad</span>
    </div>
  </ng-template>
  <div class="field">
    <label for="lastname1">Tipo de Actividad</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="lastname1">Total Agua</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="lastname1">Total Comida</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="lastname1" class="bold-label">Total Huella Hidrica :</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
</p-fieldset>
<br>

<p-fieldset [toggleable]="true">
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-user mr-2"></span>
      <span class="font-bold text-lg">Actividad</span>
    </div>
  </ng-template>
  <div class="field">
    <label for="lastname1">Tipo de Actividad</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="lastname1">Total Agua</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="lastname1">Total Comida</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  <div class="field">
    <label for="lastname1" class="bold-label">Total Huella Hidrica :</label>
    <input
      id="lastname1"
      maxlength="10"
      type="number"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
</p-fieldset>

