.bold-label {
    font-weight: bold;
    background: linear-gradient(to right, #0074E4, #00A3E0);
    color: white;
    padding: 10px;
    border-radius: 5px;
}
::ng-deep {
    .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
        font-weight: bold;
        background: linear-gradient(to right, #0074E4, #00A3E0);
        color: white;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    .p-accordion .p-accordion-header .p-accordion-header-link {
        font-weight: bold;
    background: linear-gradient(to right, #0074E4, #00A3E0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    }
}

.boton-redondo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #007bff; /* Borde azul de 2 píxeles */
}

.boton-redondo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.bold-label {
    font-weight: bold;
    background: linear-gradient(to right, #0074E4, #00A3E0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.text {
    font-size: 28px;
    font-family: helvetica;
    font-weight: bold;
    color: #71d90b;
    text-transform: uppercase;
}
