<div class="bg-bluegray-900">
  <div class="text-center">
    <div class="font-bold text-white">🐾 ¡Bienvenidos! 🌾</div>
    <br />
    <div class=" font-bold text-white">
      {{ fechaHora | date : "fullDate" }} - {{ fechaHora | date : "shortTime" }}
    </div>
    <p></p>

    <a class="">
      <a class="text-white" href="#"
        ><span class="underline font-bold">Cerrar Sesion</span></a
      >
    </a>
    <!-- <a
      pRipple
      class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
      style="width: 2rem; height: 2rem"
    >
      <i class="pi pi-times"></i>
    </a> -->
  </div>
</div>
