<app-spinner *ngIf="spinnerVisible"></app-spinner>
<div *ngIf="formularioVisible">
  <app-navbar></app-navbar>
  <div class="grid">
    <div class="col-6 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo" routerLink="/finca">
          <img
            src="https://img.freepik.com/vector-premium/icono-cultivo-blanco_118813-9124.jpg"
            alt="Imagen del botón"
          />
        </button>
        <div class="col-12" style="margin-top: -10px"><h3>Finca</h3></div>
      </div>
    </div>
    <div class="col-6 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo" routerLink="/potrero">
          <img
            src="https://cdn-icons-png.flaticon.com/512/13/13279.png"
            alt="Imagen del botón"
          />
        </button>
        <div class="col-12" style="margin-top: -10px"><h3>Potrero</h3></div>
      </div>
    </div>
    <div class="col-6 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo" routerLink="/animal">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4496/4496184.png"
            alt="Imagen del botón"
          />
        </button>
        <div class="col-12" style="margin-top: -10px"><h3>Animal</h3></div>
      </div>
    </div>
    <div class="col-6 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo" routerLink="/traslado">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4083/4083045.png"
            alt="Imagen del botón"
          />
        </button>
        <div class="col-12" style="margin-top: -10px"><h3>Traslado</h3></div>
      </div>
    </div>
    <div class="col-6 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo" routerLink="/actividades">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2151/2151531.png"
            alt="Imagen del botón"
          />
        </button>
        <div class="col-12" style="margin-top: -10px"><h3>Actividad</h3></div>
      </div>
    </div>
    <div class="col-6 md:col-6 lg:col-3">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo" routerLink="/huella-hidrica">
          <img
            src="https://cdn-icons-png.flaticon.com/512/1076/1076877.png"
            alt="Imagen del botón"
          />
        </button>
        <div class="col-12" style="margin-top: -10px">
          <h3>Huella Hídrica</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <app-footer></app-footer>
</div>
