<app-navbar></app-navbar>
<br />
<div class="grid">
  <div class="col-6 md:col-6 lg:col-3">
    <div class="text-center p-3 border-round-sm font-bold">
      <button class="boton-redondo">
        <img
          src="https://img.freepik.com/vector-premium/icono-cultivo-blanco_118813-9124.jpg"
          alt="Imagen del botón"
        />
      </button>
      <div class="col-12" style="margin-top: -10px"><h3>Finca</h3></div>
    </div>
  </div>
  <div class="col-6 md:col-6 lg:col-3">
    <div class="text-center p-3 border-round-sm font-bold">
      <button class="boton-redondo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/4496/4496184.png"
          alt="Imagen del botón"
        />
      </button>
      <div class="col-12" style="margin-top: -10px"><h3>Animal</h3></div>
    </div>
  </div>
  <div class="col-6 md:col-6 lg:col-3">
    <div class="text-center p-3 border-round-sm font-bold">
      <button class="boton-redondo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/4083/4083045.png"
          alt="Imagen del botón"
        />
      </button>
      <div class="col-12" style="margin-top: -10px"><h3>Translado</h3></div>
    </div>
  </div>
  <div class="col-6 md:col-6 lg:col-3">
    <div class="text-center p-3 border-round-sm font-bold">
      <button class="boton-redondo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/2151/2151531.png"
          alt="Imagen del botón"
        />
      </button>
      <div class="col-12" style="margin-top: -10px"><h3>Actividad</h3></div>
    </div>
  </div>
  <div class="col-6 md:col-6 lg:col-3">
    <div class="text-center p-3 border-round-sm font-bold">
      <button class="boton-redondo">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1076/1076877.png"
          alt="Imagen del botón"
        />
      </button>
      <div class="col-12" style="margin-top: -10px"><h3>Huella Hídrica</h3></div>
    </div>
  </div>  
</div>
