<nav class="navbar bg-light">
  <div class="grid">
    <div class="col-1"></div>
    <div class="col-2">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined p-button-info"
        (click)="sidebarVisible = true"
        icon="pi pi-align-justify"
      ></button>
    </div>
    <div class="col-6">
      
      <h2>🌿</h2>
    </div>
    <div class="col-2">
      <div class="text-center">
        <p-image
          src="https://i.gifer.com/Za9e.gif"
          alt="Image"
          width="70"
        ></p-image>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <p-sidebar [(visible)]="sidebarVisible">
    <div class="grid">
      <div class="col-12">
        <div class="text-center p-3 border-round-sm font-bold">
          <hr />

          <h3>Finca</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Finca"
            class="p-button-outlined p-button-info"
            id="miBoton"
            routerLink="/finca"
          >
            <img
              src="https://cdn.icon-icons.com/icons2/1465/PNG/512/455cowface_100996.png"
              alt="Ícono"
            />
          </button>
          <button
            pButton
            pRipple
            type="button"
            label="Potreros"
            class="p-button-outlined p-button-info"
            id="miBoton"
            routerLink="/potrero"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/13/13279.png"
              alt="Ícono"
            />
          </button>
          <button
            pButton
            pRipple
            type="button"
            label="Configuracion"
            class="p-button-outlined p-button-info"
            routerLink="/configuraciones"
            id="miBoton"
          >
            <img
              src="https://images.vexels.com/media/users/3/153359/isolated/preview/f253c46ff6fb727415fc70750ac1fb6e-configuracion-del-sistema-icono-de-trazo-de-color.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm font-bold">
          <hr />

          <h3>Ganado</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Registro Animal"
            class="p-button-outlined p-button-info"
            id="miBoton"
            style="margin-bottom: 5px"
            routerLink="/animal"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/4496/4496184.png"
              alt="Ícono"
            />
          </button>

          <button
            pButton
            pRipple
            type="button"
            label="Registro Consumo"
            class="p-button-outlined p-button-info"
            id="miBoton"
            style="margin-bottom: 5px"
            routerLink="/actividades"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/2151/2151531.png"
              alt="Ícono"
            />
          </button>
          <button
            pButton
            pRipple
            type="button"
            label="Traslado"
            class="p-button-outlined p-button-info"
            id="miBoton"
            routerLink="/traslado"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/4083/4083045.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm font-bold">
          <hr />
          <h3>Huella Hídrica</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Calculadora"
            class="p-button-outlined p-button-info"
            id="miBoton"
            routerLink="/huella-hidrica"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/1076/1076877.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center p-3 border-round-sm font-bold">
          <hr />
          <h3>Cerrar Sesion</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Salir"
            class="p-button-outlined p-button-info"
            routerLink="/"
            id="miBoton"
          >
            <img
              src="https://cdn.pixabay.com/photo/2023/02/07/00/34/close-7772967_1280.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
    </div>
  </p-sidebar>
</nav>
