<nav class="navbar bg-light">
  <div class="grid">
    <div class="col-2">
      <button
        pButton
        pRipple
        type="button"
        class="p-button-outlined p-button-info"
        (click)="sidebarVisible = true"
        icon="pi pi-align-justify"
      ></button>
    </div>
    <div class="col-8">
      <h2>MILK WORLD</h2>
    </div>
    <div class="col-2">
      <div class="text-center">
        <p-image
          src="https://cdn.icon-icons.com/icons2/1465/PNG/512/455cowface_100996.png"
          alt="Image"
          width="50"
        ></p-image>
      </div>
    </div>
  </div>

  <p-sidebar [(visible)]="sidebarVisible">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm font-bold">
          <h3>Finca</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Potreros"
            class="p-button-outlined p-button-info"
            id="miBoton"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/13/13279.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm font-bold">
          <h3>Ganado</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Registro Animal"
            class="p-button-outlined p-button-info"
            id="miBoton"
            style="margin-bottom: 5px"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/4496/4496184.png"
              alt="Ícono"
            />
          </button>

          <button
            pButton
            pRipple
            type="button"
            label="Registro Consumo"
            class="p-button-outlined p-button-info"
            id="miBoton"
            style="margin-bottom: 5px"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/2151/2151531.png"
              alt="Ícono"
            />
          </button>
          <button
            pButton
            pRipple
            type="button"
            label="Registro Produccion"
            class="p-button-outlined p-button-info"
            id="miBoton"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/3394/3394010.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="text-center p-3 border-round-sm font-bold">
          <h3>Huella Hídrica</h3>
          <hr />
          <button
            pButton
            pRipple
            type="button"
            label="Calculadora"
            class="p-button-outlined p-button-info"
            id="miBoton"
          >
            <img
              src="https://cdn-icons-png.flaticon.com/512/1076/1076877.png"
              alt="Ícono"
            />
          </button>
        </div>
      </div>
    </div>
  </p-sidebar>
</nav>
