nav {
  background-color: white;
  border-bottom: 2px solid rgb(0, 200, 255);
}

h2 {
  text-align: center;
  color: rgb(0, 183, 255);
  font-size:25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  /* Establece la altura del contenedor según la altura de la ventana */

}



#miBoton {
  padding: 10px 20px;
  /* Relleno del botón */
  border: none;
  /* Eliminar el borde del botón si es necesario */
}

#miBoton img {
  width: 20px;
  /* Ancho del icono */
  height: 20px;
  /* Alto del icono */
  margin-right: 10px;
  /* Espacio entre el icono y el texto del botón */
}

.col-8 {
  margin-top: 5px;
  padding: 0;
}
.col-2 {
  margin-top: 10px;

  padding: 0;
}

