@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');

h1 {
    font-family: 'Unlock', cursive;
    text-align: center;
    color: rgb(0, 183, 255);
    font-size: 70px;
}

div {
    margin: 5px;
}

.colorTexto {
    color: rgb(0, 183, 255);
}

/* #login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 700px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
} */