<p-messages
  [(value)]="messages"
  [enableService]="false"
  [closable]="false"
></p-messages>
<app-spinner *ngIf="spinnerVisible"></app-spinner>
<form [formGroup]="form">
  <div *ngIf="formularioVisible1">
    <div class="text-center">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/2151/2151531.png"
            alt="Imagen del botón"
          />
        </button>
      </div>
      <div>
        <h2>Actividades</h2>
      </div>
    </div>
    <div>
      <div>
        <br />
        <div class="grid">
          <div class="col-12">
            <div class="p-3 h-full">
              <div
                class="shadow-2 p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px"
              >
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Finca
                </div>
                <input
                  id="firstname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full mt-0 mb-4 text-700 line-height-3"
                  formControlName="nombreFinca"
                />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Tipo de Actividad
                </div>
                <input
                  id="lastname1"
                  maxlength="10"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="tipoActividad"
                />
                <br />

                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Fecha Inicial
                </div>
                <p-calendar formControlName="fechaInicial" (onSelect)="validarFecha()"></p-calendar>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Fecha Final
                </div>
                <p-calendar formControlName="fechaFinal" (onSelect)="validarFecha()"></p-calendar>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Potrero
                </div>
                <p-dropdown
                  [options]="seleccionarPotrero"
                  formControlName="potrero"
                  optionLabel="nombrePotrero"
                  class="w-full mb-3 text-2xl mb-5"
                  onchange=""
                  placeholder="Seleccione"
                  (onChange)="consultarActividad()"
                ></p-dropdown>
                <div
                  class="flex align-items-center justify-content-center font-bold border-round m-2"
                >
                  <button
                    pButton
                    pRipple
                    type="button"
                    label="Cancelar"
                    class="p-button-outlined"
                    routerLink="/botones"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formularioVisible2">
    <p-accordion [multiple]="true">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <i class="pi pi-calculator"></i> &nbsp;Informacion Potrero
        </ng-template>
        <p-table
          [columns]="cols"
          [value]="seleccionarActividades"
          styleClass="p-datatable-gridlines text-center"
          [scrollable]="true"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Nombre</th>
              <th>Peso-Rango</th>
              <th>Etapa</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-actividades
            styleClass="text-align: center;"
          >
            <tr>
              <td>
                {{ actividades.nombreAnimal }}
              </td>
              <td>
                {{ actividades.pesoPromedio }}
              </td>
              <td>
                {{ actividades.etapa }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <i class="pi pi-book"></i> &nbsp;Huella Azul
        </ng-template>
        <div class="grid">
          <div class="col-12">
            <div>
              <div
                class="shadow-2 p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px"
              >
                <span class="parpadea text" *ngIf="advertenciaHuellaAzul1"
                  ><strong
                    ><p-message
                      severity="warn"
                      text="Limite de Agua Alcanzado"
                      styleClass="mr-2"
                    ></p-message></strong
                ></span>
                <span class="parpadea text" *ngIf="advertenciaHuellaAzul2"
                  ><strong
                    ><p-message
                      severity="warn"
                      text="Limite Minimo de Agua"
                      styleClass="mr-2"
                    ></p-message></strong
                ></span>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Consumo Directo:
                </div>
                <p-inputNumber
                  prefix="L: "
                  formControlName="consumoDirecto"
                  (onInput)="validarHuellaAzul()"
                >
                </p-inputNumber>
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  <br />
                  Consumo Indirecto
                </div>
                <p-inputNumber
                  prefix="L: "
                  formControlName="consumoIndirecto"
                  (onInput)="sumarTotalAgua()"
                >
                </p-inputNumber>
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  <br />
                  Consumo Servicio:
                </div>
                <p-inputNumber
                  prefix="L: "
                  formControlName="consumoServicio"
                  (onInput)="sumarTotalAgua()"
                >
                </p-inputNumber>
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  <br />
                  Consumo Total:
                </div>
                <p-inputNumber
                  prefix="L: "
                  formControlName="totalAguaPromedio"
                  (onInput)="sumarTotalAgua()"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <i class="pi pi-chart-line"></i> &nbsp;Huella Verde
        </ng-template>
        <div class="grid">
          <div class="col-12">
            <div>
              <div
                class="shadow-2 p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px"
              >
                <span class="parpadea text" *ngIf="advertenciaHuellaVerde1"
                  ><strong
                    ><p-message
                      severity="warn"
                      text="Limite Maximo de Forraje Alcanzado"
                      styleClass="mr-2"
                    ></p-message></strong
                ></span>
                <span class="parpadea text" *ngIf="advertenciaHuellaVerde2"
                  ><strong
                    ><p-message
                      severity="warn"
                      text="Limite Minimo de Forraje"
                      styleClass="mr-2"
                    ></p-message></strong
                ></span>
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Consumo Forraje:
                </div>
                <p-inputNumber
                  prefix="Kg: "
                  formControlName="totalForrajePromedio"
                  (onInput)="validarHuellaVerde()"
                ></p-inputNumber>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Area Utilizada Potrero:
                </div>
                <p-inputNumber prefix="mts: " formControlName="areaPotrero">
                </p-inputNumber>
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  <br />
                  Consumo Agua Forraje:
                </div>
                <p-inputNumber prefix="L: " formControlName="litrosAproximados">
                </p-inputNumber>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab *ngIf="campoLeche">
        <ng-template pTemplate="header">
          <i class="pi pi-dollar"></i> &nbsp;Registro Produccion
        </ng-template>
        <div class="grid">
          <div class="col-12">
            <div>
              <div
                class="shadow-2 p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px"
              >
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Registro Leche:
                </div>
                <p-inputNumber
                  prefix="L: "
                  formControlName="lecheProducida"
                  (onInput)="validarProduccion()"
                ></p-inputNumber>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Consumo Agua:
                </div>
                <p-inputNumber prefix="L: " formControlName="aguaGastada">
                </p-inputNumber>
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  <br />
                  Consumo Forraje:
                </div>
                <p-inputNumber prefix="Kg: " formControlName="comidaGastada">
                </p-inputNumber>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

    <div class="flex justify-content-center flex-wrap">
      <div
        class="flex align-items-center justify-content-center font-bold border-round m-2"
      >
        <button
          pButton
          pRipple
          type="button"
          label="Cancelar"
          class="p-button-outlined"
          routerLink="/botones"
        ></button>
      </div>
      <div
        class="flex align-items-center justify-content-center font-bold border-round m-2"
      >
        <button
          pButton
          pRipple
          type="button"
          label="Guardar"
          class="p-button-outlined p-button-success"
          (click)="registrarActiviad()"
        ></button>
      </div>
    </div>
    <br />
  </div>
</form>
<br />
<app-footer *ngIf="formularioVisible1"></app-footer>
