<p-messages
  [(value)]="messages"
  [enableService]="false"
  [closable]="false"
></p-messages>
<app-spinner *ngIf="spinnerVariable"></app-spinner>
<div *ngIf="formularioVariable">
  <app-navbar *ngIf="stpe1"></app-navbar>
  <div class="card" *ngIf="stpe1">
    <p-table [value]="seleccionarPotrero" [paginator]="true" [rows]="4">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Listado de Potreros
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Nombre</th>
          <th>Elegir</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            {{ product.nombrePotrero }}
          </td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-angle-double-right"
              class="p-button-rounded p-button-success"
              routerLink="/botones"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div>
      <div class="text-center">
        <br />
      </div>
      <div>
        <br />
        <div class="field text-center">
          <label for="firstname1">¿Desea Crear una Nuevo Potrero?</label>
        </div>

        <div class="flex justify-content-center flex-wrap">
          <div
            class="flex align-items-center justify-content-center font-bold border-round m-2"
          >
            <div
              class="flex align-items-center justify-content-center font-bold border-round m-2"
            >
              <button
                pButton
                pRipple
                type="button"
                label="Volver"
                class="p-button-outlined"
                routerLink="/botones"
              ></button>
            </div>
            <div
              class="flex align-items-center justify-content-center font-bold border-round m-2"
            >
              <button
                pButton
                pRipple
                type="button"
                label="Crear"
                class="p-button-outlined p-button-success"
                (click)="abrilModal(4)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="form">
    <div *ngIf="stpe4">
      <div class="text-center">
        <div class="text-center p-3 border-round-sm font-bold">
          <button class="boton-redondo">
            <img
              src="https://cdn-icons-png.flaticon.com/512/13/13279.png"
              alt="Imagen del botón"
            />
          </button>
        </div>
        <div>
          <h2>Registrar Potrero</h2>
        </div>
        <br />
      </div>
      <div>
        <div class="grid">
          <div class="col-12">
            <div class="p-3 h-full">
              <div
                class="shadow-2 p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px"
              >
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Nombre del Potrero
                </div>
                <input
                  id="firstname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="nombrePotrero"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 122 || event.charCode == 32)"
                  maxlength="100"
                />
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Area del Potrero
                </div>
                <p-inputNumber
                  prefix="m: "
                  formControlName="areaPotrero"
                  (ngModelChange)="validarAreaTotal()"
                >
                </p-inputNumber>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Capacidad Maxima Forraje
                </div>
                <p-inputNumber
                  prefix="Kg: "
                  formControlName="capacidadMaximaForraje"
                >
                </p-inputNumber>
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Capacidad Maxima Agua
                </div>
                <p-inputNumber
                  prefix="L: "
                  formControlName="capacidadMaximaAgua"
                >
                </p-inputNumber>
                <br />
                <div class="flex justify-content-center flex-wrap">
                  <div
                    class="flex align-items-center justify-content-center font-bold border-round m-2"
                  >
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Volver"
                      class="p-button-outlined"
                      (click)="abrilModal(1)"
                    ></button>
                  </div>
                  <div
                    class="flex align-items-center justify-content-center font-bold border-round m-2"
                  >
                    <button
                      pButton
                      pRipple
                      type="button"
                      label="Siguiente"
                      class="p-button-outlined p-button-success"
                      (click)="validarStpe(5)"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="stpe5">
      <div class="text-center">
        <div class="text-center p-3 border-round-sm font-bold">
          <button class="boton-redondo">
            <img
              src="https://cdn-icons-png.flaticon.com/512/13/13279.png"
              alt="Imagen del botón"
            />
          </button>
        </div>
        <hr />
        <div>
          <h2>Registrar Potrero</h2>
        </div>
        <br />
      </div>
      <div>
        <div class="grid">
          <div class="col-12">
            <div class="p-3 h-full">
              <div
                class="shadow-2 p-3 h-full flex flex-column surface-card"
                style="border-radius: 6px"
              >
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Cupo Maximo de Animales
                </div>
                <input
                  id="firstname1"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="cupoMaximoAnimales"
                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                  maxlength="5"
                />
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Tipo de Pasto
                </div>
                <p-dropdown
                  [options]="pasto"
                  optionLabel="nombrePasto"
                  placeholder="Seleccione"
                  formControlName="codigoPasto"
                ></p-dropdown>
                <!-- <input
                  id="lastname1"
                  maxlength="10"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="codigoPasto"
                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                  maxlength="2"
                /> -->
                <br />
                <div
                  class="text-900 font-medium text-xl mb-2 font-bold text-blue-600"
                >
                  Codigo Finca (N° Unico)
                </div>
                <input
                  id="lastname1"
                  maxlength="10"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="codigoFinca"
                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                  maxlength="10"
                />
                <br />
                <div class="flex justify-content-center flex-wrap">
                  <div class="flex justify-content-center flex-wrap">
                    <div
                      class="flex align-items-center justify-content-center font-bold border-round m-2"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        label="Volver"
                        class="p-button-outlined"
                        [disabled]="boton"
                        (click)="abrilModal(4)"
                      ></button>
                    </div>
                    <div
                      class="flex align-items-center justify-content-center font-bold border-round m-2"
                    >
                      <button
                        pButton
                        pRipple
                        type="button"
                        label="Crear"
                        class="p-button-outlined p-button-success"
                        [disabled]="boton"
                        (click)="registrarPotrero()"
                      ></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="stpe6">
    <div class="text-center">
      <div class="text-center p-3 border-round-sm font-bold">
        <button class="boton-redondo">
          <img
            src="https://cdn-icons-png.flaticon.com/512/4496/4496184.png"
            alt="Imagen del botón"
          />
        </button>
      </div>
      <hr />
      <div>
        <h2>Registrar Animal</h2>
      </div>
      <br />
    </div>
    <div>
      <br />
      <div class="field">
        <label for="firstname1">Raza</label>
        <input
          id="firstname1"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="lastname1">Numero Corral</label>
        <input
          id="lastname1"
          maxlength="10"
          type="number"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="lastname1">Fecha de Nacimiento</label>
        <input
          id="lastname1"
          maxlength="10"
          type="number"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field">
        <label for="lastname1">Numero de Partos</label>
        <input
          id="lastname1"
          maxlength="10"
          type="number"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="flex justify-content-center flex-wrap">
        <div
          class="flex align-items-center justify-content-center font-bold border-round m-2"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Volver"
            class="p-button-outlined"
            (click)="validarStpe(5)"
          ></button>
        </div>
        <div
          class="flex align-items-center justify-content-center font-bold border-round m-2"
        >
          <button
            pButton
            pRipple
            type="button"
            label="Crear"
            class="p-button-outlined p-button-success"
            (click)="validarStpe(6)"
          ></button>
        </div>
      </div>
    </div>
  </div> -->
    <br />
  </form>
  <app-footer></app-footer>
</div>
