<!-- <app-navbar></app-navbar> -->
<div id="login-box">
  <div class="grid">
    <div class="col-12">
      <div class="text-center,margen-div">
        <h1>MILK WORLD</h1>        
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <p-image
          src="https://cdn.icon-icons.com/icons2/1465/PNG/512/455cowface_100996.png"
          alt="Image"
          width="150"
        ></p-image>
        <div class="text-center, colorTexto">¡BIENVENIDO AL MUNDO LECHERO!</div>
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-12">
      <div class="text-center">
        <p-button label="Soy Nuevo" (click)="registrarUsuario()"></p-button>
      </div>
    </div>
    <div class="col-12">
      <div class="text-center">
        <p-button
          class="text-center"
          label="Ya Tengo Cuenta"
          styleClass="p-button-outlined"
          (click)="iniciarSesion()"
        ></p-button>
      </div>
    </div>
    <div class="col">
      <div class="text-center">
        <h5>
          "La aplicación para el control de la huella hídrica en vacas lecheras"
        </h5>
      </div>
    </div>
  </div>
</div>
